.notFoundContainer {
  padding: 10rem;
    text-align: center;
    background-color: lightcyan;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  
  .notFoundTitle {
    font-size: 20rem;
    font-weight: bold;
    color: blue;
  }
  
  .notFoundMessage {
    font-size: 20px;
    color: #333;
  }
  
  .notFoundLink {
    text-decoration: none;
    font-size: 18px;
    color: #3498db;
    transition: color 0.3s ease;
  }
  
  .notFoundLink:hover {
    color: #2c3e50;
  }
  